.logo{

font-size:30px;

font-weight:bold;

color:var(--gold);

}

.toolbar{

display:flex;

gap:10px;

align-items:center;

}

#sidebar a{

color:white;

text-decoration:none;

padding:10px;

border-radius:8px;

transition:.2s;

}

#sidebar a:hover{

background:#292929;

}

.character-list{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(280px,1fr));

gap:25px;

}

.character-card{

background:#1d1d1d;

padding:20px;

border-radius:15px;

transition:.25s;

}

.character-card:hover{

transform:translateY(-5px);

}

.character-card img{

width:100%;

height:280px;

object-fit:cover;

border-radius:10px;

}

.character-card h2{

margin-top:15px;

}

.character-card button{

margin-top:15px;

width:100%;

padding:10px;

cursor:pointer;

}